<header>
    <div class="logo">
      <img src="./assets/logo.jpg" alt="">
    </div>
    <div class="items">
      <a href="http://">
        <div class="item">Strefa marek</div>
      </a>
  
      <a href="http://">
        <div class="item">Finansowanie na LOREM</div>
      </a>
  
      <a href="http://">
        <div class="item">LOREM Lease</div>
      </a>
  
      <a href="http://">
        <div class="item">Obserwowane (0)</div>
      </a>
  
      <a href="http://">
        <div class="item">Zaloguj się | Zarejestruj się</div>
      </a>
  
      <a href="http://">
        <img style="width: 20px; height: 20px;" src="./assets/login_register.png" alt="">
      </a>
      <div class="item">
        <p-button label="+ Zacznij sprzedawać" />
      </div>
    </div>
  </header>