<div class="main">
<section class="footer-middle">
    <div class="first-box">
      <div class="find-us">
        <h3>Znajdź nas</h3>
        <div class="facebook">Facebook</div>
        <div class="instagram">Instagram</div>
        <div class="youtube">Youtube</div>
        <div class="tiktok">TikTok</div>
      </div>
      <div class="client-support">
        <h3>Obsługa klienta</h3>
        <div class="info-support-item">
          <p>Telefon: +48 61 880 32 21, +48 539 146 861</p>
          <p>(od pn. do pt. w godz. 08:00 - 17:00)</p>
          <p>Email: pomoc(małpa)otomoto.pl</p>
          <p>(od pn. do nd. w godz. 08:00 - 20:00)</p>
          <p>Chat: (od pn. do pt. w godz. 09:00 - 17:00)</p>
        </div>
      </div>
    </div>
    <div class="second-box">
      <div class="company">
        <h3>Otomoto</h3>
        <div class="info-company-item">
          <p>Pomoc</p>
          <p>Kontakt</p>
          <p>Reklama</p>
          <p>Biuro prasowe</p>
          <p>Polityka prywatności</p>
          <p>Polityka plików "cookies"</p>
          <p>Ustawienie plików "cookies"</p>
          <p>Regulamin dla Klientów Indywidualnych</p>
        </div>
      </div>
    </div>
    <div class="third-box">
      <div class="services-tools">
        <h3>Usługi i narzędzia</h3>
        <div class="info-services-item">
          <p>Umowa kupna sprzedaży</p>
          <p>Ile jest wart Twój samochód?</p>
          <p>Finansowanie na OTOMOTO</p>
        </div>
      </div>
      <div class="partners">
        <h3>Partnerzy</h3>
        <div class="olx">
          <p>OLX.pl</p>
        </div>
        <div class="otodom">
          <p>Otodom.pl</p>
        </div>
        <div class="fixly">
          <p>Fixly.pl</p>
        </div>
      </div>
    </div>
    <div class="fourth-box">
      <div class="useful-information">
        <h3>Przydatne informacje</h3>
        <div class="info-usefull-information">
          <p>Cennik dla Klientów Indywidualnych</p>
          <p>Testy samochodów</p>
          <p>Internetowy Samochód Roku</p>
          <p>Mapa kategorii</p>
          <p>Mapa miejscowości</p>
          <p>Kariera</p>
          <p>Części - dobre praktyki</p>
        </div>
      </div>
    </div>
  </section>
  <div class="owner">
    <p>Powered by LOREM</p>
    <div class="both-logo">
      <div class="logo-lease">
        <img src="./assets/lease-logo.png" alt="">
      </div>
      <div class="logo-motopedia">
        <img src="./assets/motopedia.jpg" alt="">
      </div>
    </div>
  </div>
  <hr>
  <footer>
    <p>Nasze aplikacje w twoim telefonie</p>
    <div class="shop-logo">
      <div class="logo-google-play">
        <img src="./assets/google-play.png" alt="">
      </div>
      <div class="logo-appstore">
        <img src="./assets/app-store.png" alt="">
      </div>
    </div>
  </footer>
</div>