<div class="main">
  <div class="left-side">
    <div class="title">Oferty</div>
    <div class="writers">
      <div class="left-side-writer">
        <div class="image-car">
          <img src="./assets/bmw1.jpg" alt="" />
        </div>
      </div>
      <div class="right-side-writer">
        <div class="name-offer">BMW E46 M3</div>
        <div class="mini-message">
          Dzień dobry, ogłoszenie aktualne? sdasdasssss
        </div>
      </div>
    </div>
    <div class="writers">
      <div class="left-side-writer">
        <div class="image-car">
          <img src="./assets/bmw1.jpg" alt="" />
        </div>
      </div>
      <div class="right-side-writer">
        <div class="name-offer">BMW E46 M3</div>
        <div class="mini-message">
          Dzień dobry, ogłoszenie aktualne? sdasdasssss
        </div>
      </div>
    </div>
    <div class="writers">
      <div class="left-side-writer">
        <div class="image-car">
          <img src="./assets/bmw1.jpg" alt="" />
        </div>
      </div>
      <div class="right-side-writer">
        <div class="name-offer">BMW E46 M3</div>
        <div class="mini-message">
          Dzień dobry, ogłoszenie aktualne? sdasdasssss
        </div>
      </div>
    </div>
    <div class="writers">
      <div class="left-side-writer">
        <div class="image-car">
          <img src="./assets/bmw1.jpg" alt="" />
        </div>
      </div>
      <div class="right-side-writer">
        <div class="name-offer">BMW E46 M3</div>
        <div class="mini-message">
          Dzień dobry, ogłoszenie aktualne? sdasdasssss
        </div>
      </div>
    </div>
    <div class="writers">
      <div class="left-side-writer">
        <div class="image-car">
          <img src="./assets/bmw1.jpg" alt="" />
        </div>
      </div>
      <div class="right-side-writer">
        <div class="name-offer">BMW E46 M3</div>
        <div class="mini-message">
          Dzień dobry, ogłoszenie aktualne? sdasdasssss
        </div>
      </div>
    </div>
    <div class="writers">
      <div class="left-side-writer">
        <div class="image-car">
          <img src="./assets/bmw1.jpg" alt="" />
        </div>
      </div>
      <div class="right-side-writer">
        <div class="name-offer">BMW E46 M3</div>
        <div class="mini-message">
          Dzień dobry, ogłoszenie aktualne? sdasdasssss
        </div>
      </div>
    </div>
    <div class="writers">
      <div class="left-side-writer">
        <div class="image-car">
          <img src="./assets/bmw1.jpg" alt="" />
        </div>
      </div>
      <div class="right-side-writer">
        <div class="name-offer">BMW E46 M3</div>
        <div class="mini-message">
          Dzień dobry, ogłoszenie aktualne? sdasdasssss
        </div>
      </div>
    </div>
    <div class="writers">
      <div class="left-side-writer">
        <div class="image-car">
          <img src="./assets/bmw1.jpg" alt="" />
        </div>
      </div>
      <div class="right-side-writer">
        <div class="name-offer">BMW E46 M3</div>
        <div class="mini-message">
          Dzień dobry, ogłoszenie aktualne? sdasdasssss
        </div>
      </div>
    </div>
    <div class="writers">
      <div class="left-side-writer">
        <div class="image-car">
          <img src="./assets/bmw1.jpg" alt="" />
        </div>
      </div>
      <div class="right-side-writer">
        <div class="name-offer">BMW E46 M3</div>
        <div class="mini-message">
          Dzień dobry, ogłoszenie aktualne? sdasdasssss
        </div>
      </div>
    </div>
    <div class="writers">
      <div class="left-side-writer">
        <div class="image-car">
          <img src="./assets/bmw1.jpg" alt="" />
        </div>
      </div>
      <div class="right-side-writer">
        <div class="name-offer">BMW E46 M3</div>
        <div class="mini-message">
          Dzień dobry, ogłoszenie aktualne? sdasdasssss
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="messages">
      <div class="top-fotter">
        <div class="image-car">
          <img src="./assets/bmw1.jpg" alt="" />
        </div>
        <div class="name-offer">BMW E46 M22222222222222222222</div>
      </div>
      <div class="middle">
        <div class="client-messages">
          Dzień dobry, chciałbym kupić samochód.
        </div>
        <div class="my-messages">Witam</div>
        <div class="client-messages">
          Dzień dobry, chciałbym kupić samochód. Dzień dobry, chciałbym kupić
          samochód. Dzień dobry, chciałbym kupić samochód. Dzień dobry,
          chciałbym kupić samochód. Dzień dobry, chciałbym kupić samochód.
        </div>
        <div class="my-messages">
          Dzień dobry, chciałbym kupić samochód. Dzień dobry, chciałbym kupić
          samochód. Dzień dobry, chciałbym kupić samochód. Dzień dobry,
          chciałbym kupić samochód. Dzień dobry, chciałbym kupić samochód.
        </div>
        <div class="client-messages">
          Dzień dobry, chciałbym kupić samochód. Dzień dobry, chciałbym kupić
          samochód. Dzień dobry, chciałbym kupić samochód. Dzień dobry,
          chciałbym kupić samochód. Dzień dobry, chciałbym kupić samochód.
        </div>
        <div class="my-messages">
          Dzień dobry, chciałbym kupić samochód. Dzień dobry, chciałbym kupić
          samochód. Dzień dobry, chciałbym kupić samochód. Dzień dobry,
          chciałbym kupić samochód. Dzień dobry, chciałbym kupić samochód.
        </div>
        <div class="client-messages">
          Dzień dobry, chciałbym kupić samochód. Dzień dobry, chciałbym kupić
          samochód. Dzień dobry, chciałbym kupić samochód. Dzień dobry,
          chciałbym kupić samochód. Dzień dobry, chciałbym kupić samochód.
        </div>
        <div class="my-messages">
          Dzień dobry, chciałbym kupić samochód. Dzień dobry, chciałbym kupić
          samochód. Dzień dobry, chciałbym kupić samochód. Dzień dobry,
          chciałbym kupić samochód. Dzień dobry, chciałbym kupić samochód.
        </div>
      </div>
    </div>
    <div class="bottom-fotter">
      <textarea rows="5" cols="30" pInputTextarea>
      </textarea>
      <p-button label="Wyślij" />
    </div>
  </div>
</div>
