<div class="main">
  <div class="container">
    <div class="main-title">Twoje ogłoszenia</div>
    <div class="container-buttons">
      <div class="btn">Aktywne ogłoszenia</div>
      <div class="btn">Zakończone ogłoszenia</div>
      <div class="btn">Wiadomości</div>
      <div class="btn">Obserwowane</div>
      <div class="btn">Ustawienia</div>
    </div>
  </div>
</div>
<app-messages> </app-messages>
<!--<app-watched-offers></app-watched-offers>-->
<!--<app-active-offers></app-active-offers>-->
<!--<app-ended-offers></app-ended-offers>-->
<!--<app-settings></app-settings>-->
