.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f7f8fa;
}

.container {
  width: 900px;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

.main-title {
  font-size: 32px;
  font-weight: bold;
}

.container-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  justify-content: center;
  width: 100%;
}

.btn {
  flex: 1;
  min-width: 150px;
  max-width: 390px;
  height: 80px;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.137);
}
