<div class="main">
  <section class="left-section">
    <app-login></app-login>
  </section>
  <section class="right-section">
    <div class="image"><img src="./assets/logo-second.png" alt="" /></div>
    <div class="bold-text">
      <p>Zaufanie milionów kupujących i sprzedających.</p>
    </div>
    <div class="small-text">
        <ul>
            <li>Największa w Polsce platforma motoryzacyjna</li>
            <li>Ponad 1 000 000 użytkowników dziennie</li>
            <li>Ponad 200 000 aktywnych ogłoszeń</li>
            <li>Narzędzia, które pomogą Ci osiągnąć sukces</li>
        </ul>
    </div>
  </section>
</div>
