.main {
  display: flex;
  height: 100vh;
}

.left-section {
  width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  background-color: #f7f8fa;
  width: 30%;
  height: 100vh;
}

.image {
  margin-top: 50px;
}

.image > img {
  max-width: 400px;
}

img {
  width: 100%;
}

.bold-text {
  font-size: 34px;
  font-weight: bold;
  margin-left: 35px;
}

ul {
  margin-left: 35px;
  font-size: 18px;
}

li {
  margin-top: 20px;
}

@media (max-width: 925px) {
    .right-section {
        display: none;
    }
    .main {
        display: flex;
        justify-content: center;
    }
}
