<div class="main">
  <div class="category"></div>
  <div class="breadcrumb">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
  </div>
  <div class="desc-sort">
    <div class="desc">
      <h2>BMW - Samochody Osobowe</h2>
      <h4>Liczba ogłoszeń: 22 222</h4>
    </div>
    <div class="sort">
      <div class="first-sort">
        <div class="item-all">
          <div class="item-info">
            <p>Wszystkie</p>
            <p>(20 140)</p>
          </div>
        </div>
        <div class="item-used">
          <div class="item-info">
            <p>Używane</p>
            <p>(20 140)</p>
          </div>
        </div>
        <div class="item-new">
          <div class="item-info">
            <p>Nowe</p>
            <p>(20 140)</p>
          </div>
        </div>
      </div>
      <div class="second-sort">
        <p>Sortuj</p>
        <p-dropdown
          [options]="cities"
          [(ngModel)]="selectedCity"
          optionLabel="name"
          placeholder="Select a City"
          class="w-full md:w-56"
        ></p-dropdown>
      </div>
    </div>
  </div>
  <div class="all-offers">
    <div class="item-offers">
      <div class="image">
        <img src="../assets/bmw1.jpg" alt="" />
      </div>
      <div class="desc-offer">
        <p>BMW X5</p>
        <ul>
          <li>2 999 cm3</li>
          <li>285 KM</li>
          <li>najmodniejszy kolor</li>
          <li>Oklejnie PPF</li>
          <li>Gwarancja</li>
        </ul>
        <div class="img-desc">
          <div class="length">
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 24 24"
                class="ooa-51p4fw"
              >
                <path
                  fill="currentColor"
                  d="M2 20.004 7.898 4h2.13L4.13 20.004H2ZM13.999 4l5.872 16.004h2.13L16.13 4h-2.131ZM11.002 8h2V6h-2v2ZM11.002 12.999h2v-3h-2v3ZM13.002 19h-2v-4h2v4Z"
                ></path>
              </svg>
            </i>
            222 222
          </div>
          <div class="fuel">
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 24 24"
                class="ooa-51p4fw"
              >
                <path fill="currentColor" d="M10.997 9H6V5h4.997v4Z"></path>
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M16 3.042h3.408L22 5.579v13.422C22 20.206 21.201 22 19 22c-2.2 0-3-1.794-3-3v-6c0-.806-.55-.989-1.011-1H14v10H3V3.001l1-1h9l1 1V10h1c1.206 0 3 .799 3 3v6c.012.449.195 1 1 1 .806 0 .988-.55 1-1.011V6.421l-1.408-1.379H16l-1-1.041 1-.959ZM12 20H5V4.001h7V20Z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </i>
            Benzyna
          </div>
          <div class="transmission">
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 24 24"
                class="ooa-51p4fw"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M21 4a2 2 0 0 0-4 0c0 .738.405 1.376 1 1.723v4.863l-.414.414H13V5.745A1.991 1.991 0 0 0 14.042 4a2 2 0 0 0-4 0c0 .721.385 1.348.958 1.7V11H6V5.723A1.994 1.994 0 0 0 5 2a1.994 1.994 0 0 0-1 3.723v12.554c-.595.347-1 .984-1 1.723a2 2 0 0 0 4 0c0-.739-.405-1.376-1-1.723V13h5v5.3a1.99 1.99 0 0 0-.958 1.7 2 2 0 0 0 4 0A1.99 1.99 0 0 0 13 18.255V13h5.414L20 11.414V5.723c.595-.347 1-.985 1-1.723Z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </i>
            Automatyczna
          </div>
          <div class="year">
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 24 24"
                class="ooa-51p4fw"
              >
                <path
                  fill="currentColor"
                  d="M6.004 13.5a1.5 1.5 0 1 1 3.001.001 1.5 1.5 0 0 1-3.001-.001Z"
                ></path>
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M16.013 3V2h2.002v1h2.984L22 4v17l-1 1H3l-1-1V4l1-1h3.003V2h2.003v1h8.007Zm2.002 2v1l-1.001 1-1.001-1V5H8.006v1L7.005 7 6.003 6V5H4.002v3h15.996V5h-1.983Zm1.983 15H4.002V10h15.996v10Z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </i>
            2020
          </div>
        </div>
        <div class="localization">
          <p>Koszalin (Zachodniopomorskie)</p>
        </div>
        <div class="seller">
          <i>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="none"
              viewBox="0 0 24 24"
              class="ooa-51p4fw"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M7.5 6.5C7.5 8.982 9.519 11 12 11s4.5-2.018 4.5-4.5C16.5 4.019 14.481 2 12 2a4.505 4.505 0 0 0-4.5 4.5Zm2 0C9.5 5.122 10.621 4 12 4s2.5 1.122 2.5 2.5S13.379 9 12 9a2.503 2.503 0 0 1-2.5-2.5ZM4 22h16l1-1c0-4.962-4.037-9-9-9s-9 4.038-9 9l1 1Zm14.929-2H5.07c.487-3.387 3.409-6 6.929-6 3.52 0 6.442 2.613 6.929 6Z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </i>
          Prywatny sprzedawca
        </div>
      </div>
      <div class="price-like">
        <div class="price"><h3>19 999 PLN</h3></div>
        <div class="like">
          <img src="../assets/heart.png" alt="" />
        </div>
      </div>
    </div>
    <!-- -->
    <div class="item-offers">
      <div class="image">
        <img src="../assets/bmw1.jpg" alt="" />
      </div>
      <div class="desc-offer">
        <p>BMW X5</p>
        <ul>
          <li>2 999 cm3</li>
          <li>285 KM</li>
          <li>najmodniejszy kolor</li>
          <li>Oklejnie PPF</li>
          <li>Gwarancja</li>
        </ul>
        <div class="img-desc">
          <div class="length">
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 24 24"
                class="ooa-51p4fw"
              >
                <path
                  fill="currentColor"
                  d="M2 20.004 7.898 4h2.13L4.13 20.004H2ZM13.999 4l5.872 16.004h2.13L16.13 4h-2.131ZM11.002 8h2V6h-2v2ZM11.002 12.999h2v-3h-2v3ZM13.002 19h-2v-4h2v4Z"
                ></path>
              </svg>
            </i>
            222 222
          </div>
          <div class="fuel">
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 24 24"
                class="ooa-51p4fw"
              >
                <path fill="currentColor" d="M10.997 9H6V5h4.997v4Z"></path>
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M16 3.042h3.408L22 5.579v13.422C22 20.206 21.201 22 19 22c-2.2 0-3-1.794-3-3v-6c0-.806-.55-.989-1.011-1H14v10H3V3.001l1-1h9l1 1V10h1c1.206 0 3 .799 3 3v6c.012.449.195 1 1 1 .806 0 .988-.55 1-1.011V6.421l-1.408-1.379H16l-1-1.041 1-.959ZM12 20H5V4.001h7V20Z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </i>
            Benzyna
          </div>
          <div class="transmission">
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 24 24"
                class="ooa-51p4fw"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M21 4a2 2 0 0 0-4 0c0 .738.405 1.376 1 1.723v4.863l-.414.414H13V5.745A1.991 1.991 0 0 0 14.042 4a2 2 0 0 0-4 0c0 .721.385 1.348.958 1.7V11H6V5.723A1.994 1.994 0 0 0 5 2a1.994 1.994 0 0 0-1 3.723v12.554c-.595.347-1 .984-1 1.723a2 2 0 0 0 4 0c0-.739-.405-1.376-1-1.723V13h5v5.3a1.99 1.99 0 0 0-.958 1.7 2 2 0 0 0 4 0A1.99 1.99 0 0 0 13 18.255V13h5.414L20 11.414V5.723c.595-.347 1-.985 1-1.723Z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </i>
            Automatyczna
          </div>
          <div class="year">
            <i>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="none"
                viewBox="0 0 24 24"
                class="ooa-51p4fw"
              >
                <path
                  fill="currentColor"
                  d="M6.004 13.5a1.5 1.5 0 1 1 3.001.001 1.5 1.5 0 0 1-3.001-.001Z"
                ></path>
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M16.013 3V2h2.002v1h2.984L22 4v17l-1 1H3l-1-1V4l1-1h3.003V2h2.003v1h8.007Zm2.002 2v1l-1.001 1-1.001-1V5H8.006v1L7.005 7 6.003 6V5H4.002v3h15.996V5h-1.983Zm1.983 15H4.002V10h15.996v10Z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </i>
            2020
          </div>
        </div>
        <div class="localization">
          <p>Koszalin (Zachodniopomorskie)</p>
        </div>
        <div class="seller">
          <i>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              fill="none"
              viewBox="0 0 24 24"
              class="ooa-51p4fw"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M7.5 6.5C7.5 8.982 9.519 11 12 11s4.5-2.018 4.5-4.5C16.5 4.019 14.481 2 12 2a4.505 4.505 0 0 0-4.5 4.5Zm2 0C9.5 5.122 10.621 4 12 4s2.5 1.122 2.5 2.5S13.379 9 12 9a2.503 2.503 0 0 1-2.5-2.5ZM4 22h16l1-1c0-4.962-4.037-9-9-9s-9 4.038-9 9l1 1Zm14.929-2H5.07c.487-3.387 3.409-6 6.929-6 3.52 0 6.442 2.613 6.929 6Z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </i>
          Prywatny sprzedawca
        </div>
      </div>
      <div class="price-like">
        <div class="price"><h3>19 999 PLN</h3></div>
        <div class="like">
          <img src="../assets/heart.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="paginator">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="120"
      [rowsPerPageOptions]="[10, 20, 30]"
    >
    </p-paginator>
  </div>
  <app-footer-info></app-footer-info>
</div>
